@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Blacker';
    font-weight: 300;
    src: url('../public/assets/fonts/Blacker-Display-Light-trial.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Blacker';
    font-weight: 400;
    src: url('../public/assets/fonts/Blacker-Display-Regular-trial.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Blacker';
    font-weight: 500;
    src: url('../public/assets/fonts/Blacker-Display-Medium-trial.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Blacker';
    font-weight: 600;
    src: url('../public/assets/fonts/Blacker-Display-Heavy-trial.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Blacker';
    font-weight: 700;
    src: url('../public/assets/fonts/Blacker-Display-Bold-trial.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Blacker';
    font-weight: 800;
    src: url('../public/assets/fonts/Blacker-Display-ExtraBold-trial.ttf') format('truetype');
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
